<p>
  <%= link_to("twitter stuff", twitter_path) %>
</p>
<% @posts['data'].each do |post| %>
  <% unless post['location'] == nil %>
    <%= post['location']['latitude'] %>
    <%= post['location']['longitude'] %>
  <% end %>
    <%= image_tag(post['images']['standard_resolution']['url'], width: '20%', height: '20%') %>
<% end %>
